body {
  height: 100vh;
  background: rgb(252, 252, 252);
  background: linear-gradient(180deg, rgb(252, 252, 252) 0%, rgb(152, 152, 152) 86%);
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.float:hover {
  text-decoration: none;
  color: #25d366;
  background-color: #fff;
}

.my-float {
  margin-top: 16px;
}

header {
  height: 10vh;
}

main div div #logo {
  height: 150px !important;
  width: 150px !important;
  margin-top: 20px;
}
main form .form-check-input:checked {
  background-color: #141414;
  border-color: #191919;
}

footer {
  height: 20vh;
}
header {
  height: 10vh;
}

.card-productos {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 1px solid;
  margin-top: 10px;
  height: 350px;
}
.card-productos .image-size {
  height: 216px !important;
  width: auto !important;
}

footer {
  height: 20vh;
}

body .float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}
body .float:hover {
  text-decoration: none;
  color: #25d366;
  background-color: #fff;
}
body .my-float {
  margin-top: 16px;
}

header {
  height: 10vh;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
}

.container-timeline {
  padding: 10px 50px;
  position: relative;
  width: 50%;
}

.text-box {
  padding: 20px 30px;
  background: #fff;
  position: relative;
  border-radius: 6px;
  font-size: 1rem;
  color: white;
  background-color: #212529;
}

.left-container {
  left: 0;
}

.right-container {
  left: 50%;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background-color: #212529;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
}

.text-box h2 {
  font-weight: 600;
}

.text-box small {
  display: inline-block;
  margin-bottom: 15px;
}

.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #212529;
  right: -14px;
}

.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #212529;
  left: -14px;
}

@media screen and (max-width: 768px) {
  .timeline {
    margin: 50px auto;
  }
  .timeline::after {
    left: 31px;
  }
  .container-timeline {
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }
  .text-box {
    font-size: 1rem;
  }
  .text-box small {
    margin-bottom: 10px;
  }
  .right-container {
    left: 0;
  }
  .left-container-arrow, .right-container-arrow {
    border-right: 15px solid #212529;
    border-left: 0;
    left: -14px;
  }
}
footer {
  height: 20vh;
}

main {
  height: 110vh;
  margin-top: 20px;
}
main div div img {
  height: 150px !important;
  width: 150px !important;
}
main div div .card-size {
  width: 450px;
}
main div div .card-size .card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 1px solid;
  margin-top: 10px;
}
main div div .card-size .card img {
  width: auto !important;
  height: 300px !important;
}
main div div #bottom-border {
  border-bottom: 1px solid black;
}

@media screen and (max-width: 992px) {
  .responsive-container {
    align-items: center;
  }
  .container-size {
    width: 600px !important;
  }
  .card-margin {
    margin-top: 10px;
  }
  .logo-container {
    justify-content: center !important;
    margin-top: 10px;
  }
}
@media screen and (max-width: 768px) {
  .responsive-container {
    justify-content: center !important;
  }
}/*# sourceMappingURL=style.css.map */