* {
    margin: 0;
    padding: 0;
}

#logo {
    height: 150px !important;
    width: 150px !important;    
}



body {
    background-color: lightgrey;
    height: 100vh;
}

header {
    height: 10vh;
}

main {
    height: 110vh;
    margin-top: 20px;
}

footer {
    height: 20vh;
}

.card-container {
    height: 350px;
}

.image-size {
    height: 216px;
}


div button:hover {
    background-color: red !important;
}

#imagenes {
    width: 100px; !important
    height: 50px; !important
}

/* #mainProductos {
    height: 120vh; !important
} */

.cambio_color:hover {
    background-color: rgb(123, 123, 123);
}

.form-check-input:checked {
    background-color: #141414;
    border-color: #191919;
}

.foto-producto {
    width: 286px; !important
    height: 214px; !important
}

.card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid;
    margin-top: 10px;
}

.card-size {
    width: 450px;
}

@media screen and (max-width: 992px) {
    .responsive-container {
      align-items: center;
    }
    .container-size {
        width: 600px !important;
    }
    .card-margin {
        margin-top: 10px;
    }
    .logo-container {
        justify-content: center !important;
        margin-top: 10px;
    }
  }


@media screen and (max-width: 768px) {
    .responsive-container {
      justify-content: center !important;
    }
  }

/* @media screen and (max-width: 576px) {
    .card-position {
        justify-content: center !important;
    }
} */
    
}
  