.card-productos {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid;
    margin-top: 10px;
    height: 350px;
    .image-size {
        height: 216px !important;
        width: auto !important;
    }
}

